.product-card {
    margin: 10px;
    display: inline-block;
    width: 200px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
    min-height: 300px;
}

.product-card .title {
    font-size: 20px;
    margin-bottom: 5px;
}

.product-info {
    padding: 5px;
}

.product-card .price {

}

.product-card .category {
    /* padding: ; */
}